<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="{% block description %}Ronish Maharjan software engineering blogs.{% endblock description %}" >

        <meta property="og:title" content="{% block og_title %}Ronish Maharjan{% endblock og_title %}">

        <meta property="og:description" content="{% block og_description %}Ronish Maharjan software engineering blogs.{% endblock og_description %}" >

        <meta property="og:url" content="{% block og_url %}{{ config.base_url }}{% endblock og_url %}" >

        <meta property="og:site_name" content="Ronish Maharjan">

        {% block og_type %}
        <meta property="og:type" content="website">
        {% endblock og_type %}

        <meta name="twitter:card" content="summary">

        <meta name="twitter:title" content="{% block twitter_title %}Ronish Maharjan{% endblock twitter_title %}" >

        <meta name="twitter:description" content="{% block twitter_description %}Ronish Maharjan software engineering blogs.{% endblock twitter_description %}" >

        <!-- Favicons -->

        <link rel="icon" href="{{ get_url(path='assets/favicon.ico') }}">

        <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='assets/favicon-16x16.png') }}" >

        <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='assets/favicon-32x32.png') }}" >

        <link rel="apple-touch-icon" href="{{ get_url(path='assets/apple-touch-icon.png') }}" >

        <link rel="alternate" type="application/rss+xml" title="Ronish Blogs" href="{{ get_url(path='rss.xml') }}" >

        <title>
            {% block title %}Ronish Maharjan{% endblock title %}
        </title>

        <link
                rel="stylesheet"
                href="{{ get_url(path='style.css') }}"
                >
    </head>

        <body>

            <header class="site-header">

                <div class="container header-inner">

                    <a class="site-name" href="{{ get_url(path='/') }}">
                        Ronish Maharjan
                    </a>

        {% block header_nav %}{% endblock header_nav %}

                </div>

            </header>

        <main class="container">

            {% block content %}{% endblock content %}

        </main>

        <script src="{{ get_url(path='js/search.js') }}"></script>
        <script src="{{ get_url(path='js/copy.js') }}"></script>
        <script src="{{ get_url(path='js/links.js') }}"></script>

        </body>

</html>
